#site-footer.site-footer.closed
  #info.info
    .wrapper
            p.footer-p1
              | I am a designer working at the intersection of print, space, and object. I enjoy using design to create joyful moments through explorations in the everyday.
            p.footer-p2
              | I combine my training in traditional graphic design with disciplines of personal interest which has expanded my work to include exhibition branding, object design and fabrication, environmental signage and other interdisciplinary projects. I find a varied field of exploration important for the ability to successfully accomplish whatever medium a project may naturally lead. Through research and experimentation, I seek what is essential to develop ways to clearly communicate and interact with our environment.
            p(style="font-size:6vmin;margin-bottom:0px;")
              | C
            .row
             .column
              p.footer-column 
               | E  
               i.material-icons(style="font-size:2.5vmin;vertical-align:text-top;") arrow_forward 
               a(href='mailto:hello@madeleinetoth.com')   hello@madeleinetoth.com
               br
               | P  
               i.material-icons(style="font-size:2.5vmin;vertical-align:text-top;") arrow_forward
               |  +1 (440) 864-5316
             .column
              p.footer-column 
               a(href='https://www.linkedin.com/in/madeleinetot h/', target='_blank') Linkedin
               br
               a(href='http://instagram.com/madeleine_toth', target='_blank') Instagram
               br
               a(href='https://www.behance.net/madeleinetoth/', target='_blank') Behance

