div.whitebar
 header.site-header
  nav
   ul
    li
     a(href="/day")
      span.script the day
    li
     a(href="/travel")
      | travel
    li
     a(href="/details")
      span.script details
    li
     a(href="/q_a")
      span.script Q 
      | &
      span.script A
    li
     a(href="/photos")
      | photos
    li
     a(href="www.google.com")
      | registry