//div.whitebar
 header.site-header
    nav
      ul
       li
        //a(href='#site-footer' id='info') the day
        //a(href='#site-footer' id='info') travel
        //a(href='#site-footer' id='info') details
        //a(href='#site-footer' id='info') Q&A
        //a(href='#site-footer' id='info') photos
        //a(href='#site-footer' id='info') registry