div.whitebar
 header.site-header
  nav
   ul
    li
     a(href="/the_day")
      span(style="font-family: League Script Thin;") the day
    li
     a(href="/travel")
      | travel
    //li
     a(href="/details")
      span.script details
    li
     a(href="/q_a")
      span(style="font-family: League Script Thin;") Q 
      | &
      span(style="font-family: League Script Thin;") A
    li
     a(href="/photos")
      | photos
    li
     a(href="/registry")
      | registry