section.photos_page_image
 .row
  .column-img
   each imageItem in slice.items
     img(src=imageItem.image_left.url)
  .column-img
   each imageItem in slice.items
     img(src=imageItem.image_right.url)