extends ./layout.pug

block prepend body
  body.homepage(data-wio-id=pageContent.id)
    
    //include ./partials/header.pug
    
    // Content Section
    div.container
     img(src=pageContent.data.home_image.url)
    include ./partials/footer.pug



