extends ./layout.pug

block prepend body 
  body(data-wio-id=pageContent.id)

  include ./partials/header.pug

  // Content Section
  - var project = pageContent.data.project_info[0]
  div.container
   div.project(style="display: block;")
    section.content-section(class=sectionClass)
       h2
        != PrismicDOM.RichText.asText(project.title)+ " "
        i.material-icons(style="font-size:3vmin;vertical-align:text-top;") arrow_downward
       //- Display the slices
       for slice in pageContent.data.page_content
         case slice.slice_type
           when 'full_width_image'
             include ./partials/full-width-image.pug
           when 'text-section'
             include ./partials/text-section.pug
       h3
          != PrismicDOM.RichText.asText(project.client)
       h3
          != PrismicDOM.RichText.asText(project.collab)
       h3
          != PrismicDOM.RichText.asText(project.type) + " "
          i.material-icons(style="font-size:20px;vertical-align:sub;") arrow_forward 
          != PrismicDOM.RichText.asText(project.year)
  include ./partials/footer.pug