extends ./layout.pug

block prepend body 
  body(data-wio-id=pageContent.id)

  include ./partials/header.pug

  // Content Section
  div.container
   div.project(style="display: block;")
    section.content-section(class=sectionClass)
       for slice in pageContent.data.page_content
         case slice.slice_type
           when 'the_day'
            include ./partials/the_day.pug
           when 'the_day_no_h1'
            include ./partials/the_day_no_h1.pug
           when 'travel'
            include ./partials/travel.pug
           when 'q_a'
             include ./partials/q_a.pug
           when 'photos_page_image'
             include ./partials/photos_page_image.pug
           when 'registry'
             include ./partials/registry.pug
  include ./partials/footer.pug