extends ./layout.pug

block prepend body
  body(data-wio-id=pageContent.id)
  include ./partials/header.pug
    
  // Content Section
  div.container.photos
   for slice in pageContent.data.page_content
    case slice.slice_type
     when 'photo'
      include ./partials/full-width-image.pug
  include ./partials/footer.pug
