/*
 * Globals
 */

* {
  -webkit-font-smoothing: antialiased;
   font-family: Georgia;
    /*League Script Thin*/
   box-sizing: border-box;
}

html {
    cursor: url(../images/wedding_dot_blue.png), auto;
}

html a:hover {
   cursor: url(../images/wedding_dot_blue.png), auto;
    
}

.script {
    font-family: League Script Thin;
}


/*General*/

body {
    display:none;
    background:white;
	color: #2780d7;
	font-family: 'NeuzeitSLTStd-Book' , sans-serif;
	line-height: 1.6;
    min-height: 100vh;
    opacity: 1;
	-webkit-transition: background 1s ease;
	-moz-transition: background 500ms ease;
	transition: background 500ms ease;
}

a {
  cursor: url(../images/wedding_dot_blue.png), auto;
}

a:hover {
  cursor: url(../images/wedding_dot_blue.png), auto;
}

h1 {
  font-size: 42px; 
  font-weight: normal; 
  color: black; 
  letter-spacing : 1.14;
  margin-bottom: 1rem;
}

h2, h2 a {
  margin-bottom: 1rem;
  font-size: 4vmin;
  font-weight: normal;
  letter-spacing : 0.85;
  line-height: 6.4vmin;
 
}

h3, h3 a {
  Color:  black;
  font-size: 18px;
  font-weight: 400;
  letter-spacing : 0.52;
  line-height: 34px;
}

img {
  max-width: 100%;
  width: 100%;
}

header {
  margin: auto;
}

.project {
	min-height: 100%;
	padding-left: 10%;
	padding-right: 10%;
    background-color: white;
	background-size: contain;
    margin: auto;
}

/* Create two equal columns that floats next to each other */

.column {
  float: left;
  padding-right: 188px;
}

.column h1 {
    font-size: 28px;
}

.column h2 {
    font-size: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.home-content-section {
  margin-bottom: 3.75rem;
  padding-top: 155px;
  padding-bottom: 130px;
  padding-right: 17%;
  padding-left: 17%;
}

.content-section {
  margin-bottom: 3.75rem;
  padding-top: 100px;
}

.content-section h2 {
  font-size: 3vmin;
}

.text-content{
  text-align: left;
  margin-bottom: 5em;
}

/* Header */
.site-header {
  height: 67px;
  padding: 20px 50px;
}
.site-header,
.site-header a {
  color: #2780d7;
  font-size: 20px;
  text-decoration: none;
    
}

/*.site-header a:hover {
    line-height: 3.6vmin;
}*/

.site-header nav {
  text-align: center;
}
.site-header nav ul {
  margin: 0;
}
.site-header nav li {
  display: inline-block;
  margin-left: 40px;
}

.whitebar {
	background: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height:67px;
    z-index: 100;
}

.whitebar.scroll {
   background: #00b7a0; 
}

/* Footer */

.signature {
    width: 100%;
}

.signature div {
    padding: 10px 40% 30px 40%;
    text-align: center;
}

.signature p {
    line-height: .5;
    font-size: 3vmin;
}

/*photo page*/
.photos_page_image {
  margin-bottom: 10%;  
}

/* Text Sections */
.text-section-2col {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}
.text-section-1col img,
.text-section-2col img,
.gallery img {
  margin-bottom: 1rem;
}
.text-section-1col p:last-child,
.text-section-2col p:last-child {
  margin-bottom: 0;
}

/* Media Queries */
@media screen and (min-width: 767px) { 

} 

@media screen and (max-width: 768px) { 

} 

@media screen and (max-width: 1024px) { 

} 
