/*
 * Globals
 */
@font-face {
  font-family: 'League Script Thin1';
  src: url('../stylesheets/fonts/league-script-1/LeagueScript.otf');
}

* {
  -webkit-font-smoothing: antialiased;
   font-family: Georgia;
    /*League Script Thin*/
   box-sizing: border-box;
}ss

.script {
    font-family: League Script Thin1;
}


/*General*/

body {
    display:none;
    background:white;
	color: #2780d7;
	font-family: Georgia;
	line-height: 1.6;
    min-height: 100vh;
    opacity: 1;
	-webkit-transition: background 1s ease;
	-moz-transition: background 500ms ease;
	transition: background 500ms ease;
}

h1 {
  font-size: 30px; 
  font-weight: normal; 
  color: #2780d7; 
  letter-spacing : 1.14;
  margin-bottom: 1rem;
  margin-top: 70px;
  text-align: center;
  font-family: League Script Thin1;
}

h2, h2 a {
  margin-bottom: 1rem;
  font-size: 4vmin;
  font-weight: normal;
  letter-spacing : 0.85;
  line-height: 5.4vmin;
 
}

h3, h3 a {
  color:  #2780d7;
  font-weight: 400;
  letter-spacing : 0.52;
  line-height: 34px;
}

img {
  max-width: 100%;
  width: 100%;
}

.project {
    background-color: white;
	background-size: contain;
    margin: auto;
}

.home-content-section {
  margin-bottom: 3.75rem;
  padding-top: 155px;
  padding-bottom: 130px;
  padding-right: 17%;
  padding-left: 17%;
}

.content-section {
  margin-bottom: 3.75rem;
  padding-top: 100px;
}

.content-section h2 {
  font-size: 3vmin;
}

.text-content{
  text-align: left;
  margin-bottom: 5em;
}

.container { 
    margin-top: 52px;
}

/* Header */
.site-header {
  height: 80px;
  padding: 20px 50px 20px 18px;
}

.site-header,
.site-header a {
  color: #2780d7;
  font-size: 25px;
  text-decoration: none;
    
}

.site-header a:hover, .site-header a:active, .links a:hover {
    text-decoration: underline;
}

.site-header nav {
  text-align: center;
  margin: 10px 0px;
}
.site-header nav ul {
  margin: 0;
  padding-left: 0px;
}
.site-header nav li {
  display: inline-block;
}

.site-header nav li:not(:first-child) {
  margin-left: 40px;
}

.whitebar {
	background: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    z-index: 100;
}

.whitebar.scroll {
   background: #00b7a0; 
}

/* Footer */

.signature {
    width: 100%;
    margin-top: 150px;
}

.signature div {
    padding: 10px 0 30px 0;
    text-align: center;
}

.signature p {
    line-height: .5;
    font-size: 25px;
}

/*Travel Page*/
.travel img {
    width: auto;
}

.travel .title {
    font-family: League Script Thin1;
    font-size: 25px;
    padding: 0px 12%;
}

.travel .desc {
    font-size: 20px;
    padding: 0px 15%;
}

.container .one.column-t { 
    width: 45%; 
}

.container .two.column-t { 
    width: 45%; 
}

.container .one.column-t p,
.container .two.column-t p {
    text-align: center;
}


/*q&a page*/
.vertical-divider{
	clear: both;
	position: relative;
}

.vertical-divider:after {
	clear: both;
	content: " ";
	display: block;
	visibility: hidden;
        margin: 0px 75px;
}

.vertical-divider .column:not(:first-child):after, .vertical-divider .column-d:not(:first-child):after, .vertical-divider .column-t:not(:first-child):after {
	background: #2780d7;
	bottom: -41px;
	content: " ";
	margin-left: 0px;
	position: absolute;
	top: 23px;
	width: 3px;
}

.vertical-divider .column-d:first-child:after{
        top: 75px;
	margin-left: 26px;
	position: absolute;
   	background-color: #2780d7;
    	border: none;
    	height: 25px;
    	width: 25px;
    	border-radius: 50%;
}

.container .column, .column-d, .column-t { 
    float: left; 
    display: inline; 
    margin-left: 2%; 
    margin-right: 10px; 
    margin-top: 52px;
}

.container .first-half.column { 
    width: 45%; 
}

.container .second-half.column { 
    width: 45%; 
}

.container .first-half.column p{ 
    font-family: League Script Thin1;
    font-size: 25px;
    text-align: center;
    padding: 0% 10% 10% 10%;
}

.container .second-half.column p{ 
    font-size: 20px;
    text-align: center;
    padding: 0% 10% 10% 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*the day page*/
.container .first.column-d { 
    width: 45%;
    margin-top: -10px;
}

.container .second.column-d { 
    width: 45%; 
    margin-top: 25px;
}

.container .first.column-d .heading{ 
    clear: both;
    text-align: center;
}

.details {
    display:inline-block;
}

.container .first.column-d h2{ 
    font-size: 25px;
    font-family: League Script Thin1;
    float: left;
}
.container .first.column-d h3{ 
    font-size: 25px;
    float: right;
    padding-left: 30px;
}

.container .first.column-d p{ 
    font-size: 20px;
    text-align: center;
    padding: 0 12% 1% 12%;
}

.container .first.column-d img{ 
    padding: 0px 20%;
}

.container .second.column-d p, .container .second.column-d div{ 
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.location, .addeventatc {
  background-color: #2780d7 !important;
  border: none !important;
  color: white!important;
  text-align: center!important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 14px !important;
  height: 70px !important;
  width: 70px !important;
    margin: 20px 15px !important;
  border-radius: 50% !important;
  font-family: Georgia !important;
  font-weight: normal !important;
  line-height: normal !important;
  z-index: 0 !important;
}

.location:hover {
    cursor: pointer;
}

.addeventatc {
    top: 4px;
    padding: 15px 0 0 0 !important;
}

.addeventatc .addeventatc_icon {
    background: none !important;
}

.location p {
   white-space: normal; 
}

/*Photos page*/

.photos_page_image img {
    /*padding: 5% 10%;*/
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 15%;    
}

.column-img {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 15px;
}

.column-img img {
  margin-top: 25px;
  vertical-align: middle;
}
/*Registry Page*/

.registry p{ 
    font-family: League Script Thin1;
    font-size: 25px;
    text-align: center;
    padding: 5% 20%;
}

.links {
    text-align: center;
    display: flex;
    justify-content: center;
}

.links a {
    font-size: 25px;
    text-decoration: none;
    background-color: #2780d7;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 110px;
    width: 110px;
    margin: 20px 50px;
    border-radius: 50%;
    padding: 30px 0px;
}

.links a:hover {
    text-decoration: none;
    color: #2780d7;
    background-color: white;
}

/* Text Sections */
.text-section-2col {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}
.text-section-1col img,
.text-section-2col img,
.gallery img {
  margin-bottom: 1rem;
}
.text-section-1col p:last-child,
.text-section-2col p:last-child {
  margin-bottom: 0;
}

/* Media Queries */
@media screen and (max-width: 320px) { 
    /*Header*/
    .site-header a {
        font-size: 18px;
    }
    .whitebar {
        height: 100px;
    }
    /*Header*/
}

@media screen and (min-width: 321px) and (max-width: 450px) { 
    .site-header a {
        font-size: 23px;
    }
    .whitebar {
        height: 110px;
    }
}
@media screen and (max-width: 450px) { 
    /*Header*/
    .site-header {
        padding: 5px 10px 20px 0px;
    }

    .site-header nav li {
        margin-bottom: 8px;
    }
    /*Header*/
	
    /*Registry*/
    .registry p {
        padding: 0;
    }
    /*Registry*/
    
    /*Travel*/
    .travel .desc, .travel .title {
        padding: 0px 0px;
    }
    .container .column, .column-d, .column-t {
        margin: 0;
    }
    /*Travel*/
    
    /*The Day*/
    .container .first.column-d h3 {
        font-size: 25px;
        padding-left: 0px;
    }
    .container .first.column-d h2 {
        font-size: 25px;
    }
    .links {
	margin-top: 50px;
    }
    .links a {
	font-size: 20px;
	height: 100px;
	width: 100px;
	margin: 5px;
    }
    /*The Day*/
} 

@media screen and (max-width: 767px) { 
    /*Home*/ 
    img.home {
	 margin-top: 100px;
    }
    /*Home*/ 
    /*The Day*/
    h1 {
        font-size: 25px;
        padding: 0 10px;
    }
    .container .second.column-d, .container .first.column-d  {
        width: 100%;
    }
    .heading {
        margin: 0px;
        text-align: center;
    }
    
    .container .first.column-d h2, .container .first.column-d h3 {
        float: none;
    }
    
    .container .first.column-d p {
        padding: 0px;
    }
    /*The Day*/
    
    /*Columns*/
    .vertical-divider {
        padding-top: 10px;
    }
    .vertical-divider .column-d:first-child:after, .vertical-divider .column:not(:first-child):after, .vertical-divider .column-d:not(:first-child):after, .vertical-divider .column-t:not(:first-child):after {
        background: none;
    }
    
    .vertical-divider .column:first-child:after{
        top: 100%;
	    content: " ";
	    margin-left: 45%;
        position: absolute;
        background-color: #2780d7;
        border: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
   }
    .container .second-half.column, .container .first-half.column,
    .container .one.column-t, .container .two.column-t {
        width: 100%;
    }
    .first-half.column p {
        padding: 10% 10% 0 !important;
    }
    .second-half.column p {
        padding: 0 10% 5% !important;
    }
    .container .column, .column-d {
        margin-left: 0;
        margin-right: 0;
    }
    /*Columns*/
	
    /*Photos*/
    .column-img {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    /*Photos*/
	
    /*Registry*/
    .links a {
        margin: 10px;
    }
    /*Registry*/
} 

@media screen and (min-width: 451px) and (max-width: 768px) { 
    /*The Day*/
    .container .first.column-d h3 {
        font-size: 20px;
        padding-left: 23px;
    }
    .container .first.column-d h2 {
        font-size: 20px;
    }
    /*The Day*/
	
    /*Photos*/
    .column-img {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    /*Photos*/
}

@media screen and (max-width: 768px) { 
   /*The Day*/
    h2 {
        line-height: 6.4vmin;
    } 
    
    .container .first.column-d p {
        padding: 0% 9% 1% 9%;
    }
  
    .row {
        padding: 0px;
    }
   /*The Day*/
}

@media screen and (min-width: 769px) and (max-width: 1025px) { 
    /*The Day*/
    .container .first.column-d p {
        padding: 0 12% 1% 12%;
    }

    h2 {
        line-height: 4.4vmin;
    }

    .container .first-column-d h2, .container .first-column-d h3, {
        margin: 0;
    }
   /*The Day*/
}
